body{
    scroll-behavior:smooth;
}
body a {
    text-decoration: none;
    color: black;
}

body a:hover {
    text-decoration: underline;
}

.headDiv1 {
    border: 1px solid black;
    height: 2rem;
    text-align: end;
    padding-right: 6rem;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 3%, rgba(9, 9, 121, 1) 73%);
    /* position: fixed; */
    width: 100%;

}
@media (max-width:768px) {
    .headDiv1{
        display: none;
    }
    
}

.header img {
    width: 6rem;
    height: 100%;
}

.headDiv1 a {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

nav .searchBar{
    border: 1px solid black;
    border-radius: 0%;
    border-right: none;
    width: 6rem;
    padding-left: 1rem;

}
.navbar{
    background-color: white;
}
.navbar button{
    border-radius: 0%;
    border-left: none;
    margin-right: 2rem;
    
}


nav .searchBar:focus{
    outline: none;
}

.lineonly{
    border: 3px solid transparent;
    width: 5.5rem;
    margin: 20px auto;
    border-image: radial-gradient(circle,rgba(255, 255, 255, 1) 4%, rgba(235, 181, 5, 0.507) 73%);
     border-image-slice: 1; 
}
.imgDiv img {
    width: 100%;
    height: 100%;

}
.tipsDiv img{
    width: 95%;
    border-radius: 0%;
}
.tipsDiv a{
    color: navy;
}
.secondDiv {
    background-color: #1c355b;
}
.secondDiv button{
    border-radius: 0%;
    background-color: white;
}
.blueDiv button{
    border-radius: 0%;
    background-color: white;

}
.secondDiv .containDiv{
    margin-top: 6rem;
}
.secondDiv .containDiv button{
    background-color: rgb(255, 255, 255);
    width: 14rem
}

.secondDiv img {
    height: 30rem;
    width: 90%;
}

.howelse {
    border-bottom: 10px solid goldenrod;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 3%, rgba(9, 9, 121, 1) 73%);
}

.blueDiv{
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 3%, rgba(9, 9, 121, 1) 73%);

}


/* footer css */
footer input {
    height: 3rem;
}

footer input:focus {
    outline: none;
}

footer button {
    height: 3.2rem;
    color: white;
    border: none;
    width: 3rem;
    margin-left: 9rem;
    background-color: #1c355b;

}

footer .lastDiv {
    background-color: #1c355b;
}

.lastDiv img {
    width: 4rem;
}
.sectionItem .card{
    border: 10px solid white;
}
.sectionItem .card:hover {
    box-shadow: 2px 3px 10px black;
    border-bottom: 10px solid goldenrod;
}

