body a{
    text-decoration: none;
    color: black;
}
body a:hover{
    text-decoration: underline;
}

.headDiv1{
    border: 1px solid black;
    height: 2rem;
    text-align: end;
    padding-right: 6rem;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 3%, rgba(9, 9, 121, 1) 73%);
    /* position: fixed; */
    width: 100%;
    
}
.header img{
    width: 6rem;
    height: 100%;
}

.headDiv1 a{
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
.headDiv1 a:hover{
    text-decoration: underline;
    color: lightgray;
}

.lineonly{
    width: 7%;
    border: 2px solid goldenrod;
    margin: auto;
}

.blueDiv{
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 3%, rgba(9, 9, 121, 1) 73%);
}
.imgDiv img{
    width: 100%;
    height: 100%;

}   
.secondDiv{
    height: auto;
    background-color: #1c355b;
}
.secondDiv img{
    height: 30rem;
    width: 90%;
}
.howelse{
   
     background: linear-gradient(90deg,rgba(2, 0, 36, 1) 3%, rgba(9, 9, 121, 1) 73%);
}
.howelse a{
    text-decoration: none;

}
footer input{
    height: 3rem;
}
footer input:focus{
    outline: none;
}
footer button{
    height: 3.2rem;
    background-color: rgb(21, 16, 122);
    color: white;
    border: none;
    width: 3rem;
    margin-left: 9rem;

}
footer .lastDiv{
    background-color: #1c355b;
}
.lastDiv img{
    width: 4rem;
}

.sectionItem .card:hover{
    box-shadow: 2px 3px 10px black;
    border-bottom: 8px solid goldenrod;
}